button {
    width: auto;
    height: auto;
    border: none;
    background: none;
}
.circle {
    background-color: #9ee4ff8f;
    padding: 5px;
    color: rgb(24, 52, 138);
    /* margin-right: 5px; */
}
#flexRow {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
#flexColumn {
    display: flex;
    flex-direction: column !important;
    /* flex-wrap: wrap; */
    /* background-color: #fff; */

    width: 100%;
    align-items: center;
}
.boxColumn {
    display: flex;
    padding: 10px;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center;
    margin: 20px 10px;
    width: 100%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        -8px -2px 24px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 13px -7px #000000,
        -8px -2px 24px 9px rgba(0, 0, 0, 0.2);
}
.box {
    display: flex;
    padding: 10px;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center;
    margin: 20px 10px;
    width: 23%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        -8px -2px 24px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 13px -7px #000000,
        -8px -2px 24px 9px rgba(0, 0, 0, 0.2);
}
.photoEntities {
}
.photoEntities img {
    /* border-radius: 30%; */
    margin-right: 10px;
    width: 100px;
    max-height: 10000px !important;
    height: 100px !important;
}
.titleEntities {
    /* width: 70%; */
    text-transform: capitalize;
    display: flex;
    flex-direction: column !important;
}
.textEntities {
    font-size: 12px;
    margin-top: 16px;
    color: gray;
}
.margin {
    margin-left: 10px;
}
.filtruj {
    padding: 0 10px;
    margin: 0 100px;
    border: solid 3px rgba(199, 199, 199, 0.822);
    width: 200px !important;
}
