* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
}
.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 80%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.card-wrapper:nth-child(1) {
    margin-right: 200px;
}
.card {
    height: 30vh;
    width: 90%;
    // background-color: red;
    background-color: transparent;

    max-width: 80vw;
}
.test {
    height: 35%;
    width: 100%;
    background-color: royalblue;
    max-width: 80vw;
    margin: 0;
    padding: 0;
}
.iconWrap {
    display: flex;
    align-items: center;
    position: relative;
    top: -18%;
}
.iconWrap p {
    font-size: 30px;
    color: black;
}
.icon {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    width: 30%;
    font-size: 70px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}
.info {
    display: flex;
    justify-content: center;
    // align-items: center;
    text-align: center;
}
.info p {
    font-size: 20px;
}
